APScheduler==3.11.0
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
beautifulsoup4==4.13.3
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
certifi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_53iribkvo4/croot/certifi_1738623743875/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560574711/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f7tjb4b3kt/croot/conda_1743715301936/work/conda-src
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1742218810516/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1729006966809/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1729004031731/work
contourpy==1.3.1
cycler==0.12.1
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
fonttools==4.57.0
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1728841378618/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1725302947603/work
kiwisolver==1.4.8
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1730842736083/work/libmambapy
matplotlib==3.10.1
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1731147067560/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1730588048398/work/dist/numpy-2.1.3-cp310-cp310-macosx_11_0_arm64.whl#sha256=95eca41578e11a60ba5cefa48644da90df08d26978707de727779e900f3b1231
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas==2.2.3
pillow==11.1.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1717777836653/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1696355969704/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pyparsing==3.2.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.9.0.post0
pytz==2025.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1728765010896/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1728724504331/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1729480738696/work/dist/scipy-1.14.1-cp310-cp310-macosx_11_0_arm64.whl#sha256=c63f4292b358a668ef07f016bf676dae22eb6d94721d01646ad833e6308108b6
six==1.17.0
soupsieve==2.6
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1730926118411/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1729762363021/work
typing_extensions==4.13.1
tzdata==2025.2
tzlocal==5.3.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
zstandard==0.23.0
